.menu {
  display: flex;
  align-items: center;
  color: #f3f3f3;
  margin-bottom: -54px;
  position: relative;
  z-index: 1;

  &__links {
    display: flex;
    margin: 0 auto;
  }

  &__link {
    color: #f3f3f3;
    text-decoration: none;
    padding: 1rem;
    border-radius: 8px;
    transition: 0.1s;

    &:hover {
      background: #0b111b73;
      color: #c3c0c0;
    }

    &:active {
      color: #f3f3f3;
    }
  }

  &__title {
    margin: 10px 0 0 24px;
    font-size: 18px;
  }

  &__logo {
    width: 18px;
    margin-right: 8px;
  }
}
